body {
    padding: 0 10px 0 10px;
    background-color: #000;
    color: #FEC;
}
h1 {
    color:#FFF;
    font-variant:small-caps;
}
a,h2,h3,h4 {
    color:#ffba00;
}
a:hover,
td.remove-user button:hover {
    text-shadow:#000 0 0 1px, #ffba00 0 0 2px;
}
#uthgard-players {
    min-width: 300px;
    max-width: 900px;
    margin:0 auto;
}
#uthgard-players .form {
    padding-bottom:30px;
}
#uthgard-players .form input[type="text"] {
    color:#000;
}
#uthgard-players table {
    min-width: 100%;
    color:#FFFFCC;
    background-color: #181818;
    border-collapse:separate;
    border-top:1px solid #505050;
    border-left:1px solid #252525;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
}
#uthgard-players .pure-table thead {
    background-color:#181818;
    color:#ffba00;
}
#uthgard-players table td, 
#uthgard-players table th {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #040404;
}

#uthgard-players table td, 
#uthgard-players table th {
    font-size:0.85em;
    font-variant:small-caps;
}
td.full-name {
    font-weight: bold;
}
td.xp-level {
    font-size:0.75em!important;
}
td.xp-level .xp-max {
    border-right:1px solid #ffba00;
}
td.xp-level .xp-max .xp-progress {
    position:relative;
    background-color:#FFFFCC;
    height:4px;
    border-bottom:1px solid #181818;
}
td.xp-level .xp-max .xp-total-progress {
    position:relative;
    background-color:#ffba00;
    height:6px;
}
td.remove-user {
    padding-right:0;
}
td.remove-user button {
    background-color:transparent;
    font-weight:bold;
    color:red;
    padding-right:0;
}
.status {
    font-style:italic;
    font-size:0.8em;
    font-variant:small-caps;
}
.debug {
    font-size:0.6em;
}
.footer .credit {
    padding-top:20px;
    font-size:0.7em;
    text-align:center;
    font-variant: small-caps;
}
